@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

#cursor {
    height: 20px;
    aspect-ratio: 1;
    background-color: rgb(167, 163, 163);
    border-radius: 50%;
    position: fixed;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #493628;
    user-select: none;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #ff0000;
    z-index: -100;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px;
}
























nav {
    height: 15vh;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #AB886d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #d6c0b3;

}

.btn a:hover {
    color: black;

}































header {

    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}




header .image img {
    border-radius: 70px 70px 50px 50px;
    max-width: 475px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}










.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #AB886d;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.features .card span {
    display: inline-block;
    background-color: black;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #1e40af;
}




















footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 20vh;
    position: relative;
}

footer .main {
    position: relative;
    top: 20px;

    height: inherit;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    gap: 15px;
}

footer .main p {
    font-size: 20px;
    font: bold;
    font-weight: 600;
}

footer .main p a {
    color: white;
}

footer .main img {
    border: 1px solid red;
    width:130px;
    aspect-ratio: 1;
    /* border-radius: 50%; */
}

footer .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}



footer a:hover:nth-child(1) {
    /* background-color: red; */
    background: linear-gradient(to right, rgb(159, 112, 120), rgb(176, 20, 121));
}

footer a:hover:nth-child(2) {
    background-color: blue;
}

footer a:hover:nth-child(3) {
    background-color: rgb(75, 75, 75);
}

footer a:hover:nth-child(4) {
    background-color: rgb(38, 155, 38);
}

footer a:hover:nth-child(5) {
    background-color: red;
}

footer a:hover:nth-child(6) {
    background-color: rgb(228, 228, 75);
}

footer a:hover:nth-child(7) {
    background-color: green;
}












.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.cards .show {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .show:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.show:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}












@media (width < 900px) {
    #cursor {
        display: none;
    }

    .nav-links {
        display: none;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;

    }

    #footer {
        display: grid;
    }
}

@media (width < 490px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
        overflow: hidden;
    }

    #footer {
        /* background-color: red; */
        height: 35vh;
        display: grid;
        padding:0 20px ;
      
    }

    #footer .main img {
        display: none;
    }

    #footer .socials {
        display: flex;
        flex-wrap: wrap;
    }
}